*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  text-align: center;
  background-image: url(../background.jpg);
  position: relative;
}

h1 {
  font-size: 45px;
  font-weight: 700;
  display: inline-block;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(7, 85, 100, 0.8);
  -webkit-box-shadow: 5px 5px 5px 5px black;
  box-shadow: 5px 5px 5px 5px black;
  color: rgba(255, 255, 255, 0.427);
  margin: 20px;
}

a {
  font-size: 35px;
  font-weight: 400;
  padding: 5px 30px;
  margin: 5px 0;
  border: 2px solid black;
  border-radius: 15px;
}
.back-page a {
  position: absolute;
  left: 0;
  top: 30px;
  background-color: #c0bebe;
  margin: 0;
}
